<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.mayps.reidatasystem">

    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/icons8_real_estate_24"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".LoginActivity"
            android:label="@string/title_activity_login">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>
        <activity
            android:name=".RepairsActivity"
            android:label="@string/title_activity_repairs"
            android:parentActivityName=".PropertyDetailActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.mayps.reidatasystem.PropertyDetailActivity" />
        </activity>
        <activity
            android:name=".UnitsActivity"
            android:label="@string/title_activity_units"
            android:parentActivityName=".PropertyDetailActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.mayps.reidatasystem.PropertyDetailActivity" />
        </activity>
        <activity
            android:name=".PropertyReportActivity"
            android:label="@string/title_activity_property_report"
            android:parentActivityName=".Activities.AlarmActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.mayps.reidatasystem.Activities.AlarmActivity" />
        </activity>
        <activity
            android:name=".ContactDetailActivity"
            android:label="@string/title_activity_contact_detail"
            android:parentActivityName=".ContactsActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.mayps.reidatasystem.ContactsActivity" />
        </activity>
        <activity
            android:name=".UnitDetailActivity"
            android:label="@string/title_activity_unit_detail"
            android:parentActivityName=".UnitActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.mayps.reidatasystem.UnitActivity" />
        </activity>
        <activity
            android:name=".UnitActivity"
            android:label="@string/title_activity_unit"
            android:parentActivityName=".PropertyDetailActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.mayps.reidatasystem.PropertyDetailActivity" />
        </activity>
        <activity
            android:name=".RepairDetailActivity"
            android:label="@string/title_activity_repair_detail"
            android:parentActivityName=".RepairActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.mayps.reidatasystem.RepairActivity" />
        </activity>
        <activity
            android:name=".RepairActivity"
            android:label="@string/title_activity_repair"
            android:parentActivityName=".PropertyDetailActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.mayps.reidatasystem.PropertyDetailActivity" />
        </activity>
        <activity
            android:name=".PropertyDetailActivity"
            android:label="@string/title_activity_property_detail"
            android:parentActivityName=".PropertiesActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.mayps.reidatasystem.PropertiesActivity" />
        </activity>
        <activity
            android:name=".PropertiesActivity"
            android:label="@string/title_activity_properties"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.mayps.reidatasystem.MainActivity" />
        </activity>
        <activity
            android:name=".ContactsActivity"
            android:label="@string/title_activity_contacts"
            android:parentActivityName=".CompanyDetailActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.mayps.reidatasystem.CompanyDetailActivity" />
        </activity>
        <activity
            android:name=".AddressDetailActivity"
            android:label="@string/title_activity_address_detail"
            android:parentActivityName=".AddressesActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.mayps.reidatasystem.AddressesActivity" />
        </activity>
        <activity
            android:name=".AddressesActivity"
            android:label="@string/title_activity_addresses"
            android:parentActivityName=".CompanyDetailActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.mayps.reidatasystem.CompanyDetailActivity" />
        </activity>
        <activity
            android:name=".CompanyDetailActivity"
            android:label="@string/title_activity_company_detail"
            android:parentActivityName=".CompaniesActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.mayps.reidatasystem.CompaniesActivity" />
        </activity>
        <activity
            android:name=".CompaniesActivity"
            android:label="@string/title_activity_companies"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.mayps.reidatasystem.MainActivity" />
        </activity>
        <activity
            android:name=".MainActivity"
            android:label="@string/title_activity_main"
            android:theme="@style/AppTheme.NoActionBar">

        </activity>

        <provider
            android:name=".DAL.CompanyProvider"
            android:authorities="com.mayps.reidatasystem.DAL.CompanyProvider"
            android:exported="false" />
        <provider
            android:name=".DAL.AddressProvider"
            android:authorities="com.mayps.reidatasystem.DAL.AddressProvider"
            android:exported="false" />
        <provider
            android:name=".DAL.CompanyTypeProvider"
            android:authorities="com.mayps.reidatasystem.DAL.CompanyTypeProvider"
            android:exported="false" />
        <provider
            android:name=".DAL.ContactProvider"
            android:authorities="com.mayps.reidatasystem.DAL.ContactProvider"
            android:exported="false" />
        <provider
            android:name=".DAL.PropertyProvider"
            android:authorities="com.mayps.reidatasystem.DAL.PropertyProvider"
            android:exported="false" />
        <provider
            android:name=".DAL.RepairProvider"
            android:authorities="com.mayps.reidatasystem.DAL.RepairProvider"
            android:exported="false" />
        <provider
            android:name=".DAL.RepairTypeProvider"
            android:authorities="com.mayps.reidatasystem.DAL.RepairTypeProvider"
            android:exported="false" />
        <provider
            android:name=".DAL.UnitProvider"
            android:authorities="com.mayps.reidatasystem.DAL.UnitProvider"
            android:exported="false" />
        <provider
            android:name=".DAL.GenericFileProvider"
            android:authorities="com.mayps.reidatasystem.DAL.GenericFileProvider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths"/>
        </provider>
    </application>

</manifest>